.card {
  height: 150px;
  border-radius: 90px;
  margin: 3rem;
  margin-top: 10px;
  position: relative;
  width: 150px;
  overflow: hidden;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

img {
  width: 210px;
  filter: grayscale(100%);
}

.hover img:hover  {
  filter: grayscale(0%);
}

